*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.home{
    background-color: white;
    z-index: 0;
}

.nav{
    background-color: black;
    color: white;
    padding: 15px 0px;
    text-align: center;
}

.chat{
    display: flex;
}

.left{
    position: relative;
    border: 1px solid gray;
    width: 30%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.right{
    position: relative;
    border: 1px solid gray;
    /* border-bottom: 1px solid gray; */
    z-index: 1;
    width: 70%;
    /* height: 73vh; */
    background-color: black;
}

.send{
    padding: 20px;
    margin: 10px;
    width: 50%;
    text-wrap: wrap;
    border: 1px solid black;
    background-color: #00A3FF;
    color: white;
    float: right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.receive{
    padding: 20px;
    margin: 10px;
    width: 50%;
    text-wrap: wrap;
    border: 1px solid black;
    background-color: rgb(94, 90, 90);
    color: white;
    float: left;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.input-field{
    width: 80%;
    height: 50px;
    background-color: black;
    border: 1px solid gray;
    color: white;
    padding-left: 30px;
    margin: 0;
}

.send-btn{
    width: 20%;
    height: 50px;
    background-color: #00A3FF;
    color: white;
    margin: 0%;
}

.messages{
    display: block;
    height: 85vh;
    background: url("../assets/bg3.jpg");
    background-size: cover;
    overflow: auto;
    scrollbar-width: none;
}

.left-nav{
    background-color: black;
    color : rgb(36, 162, 212);
    padding: 10px;
    border: 1px solid grey;
    height: 70px;
    display: flex;
}

.left-nav img{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.left-nav p{
    padding-left: 20px;
}

.right-nav{
    background-color: black;
    color: rgb(36, 162, 212);
    padding: 15px 40px;
    border: 1px solid grey;
    height: 70px;
}

.right-nav span{
    font-size: medium;
    margin: 5px 0px;
}

.contact{
    margin: 0px;
    width: 100%;
    background-color: black;
    border: 1px solid gray;
    color: aqua;
    text-align: left;
    padding-left: 20px;
}

.list{
    display: flex;
    flex-direction: column;
    height: 85vh;
    background: url("../assets/bg1.jpg");
    background-size: cover;
    overflow: auto;
    scrollbar-width: none;
}

.Offline{
    color: red;
}

.Online{
    color: rgb(12, 241, 12);
}

.contact-details{
    display: flex;
}

.left-side{
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 7px;
}

.left-side img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.right-side{
    margin-left: 20px;
}

.search-bar{
    margin: 0;
    padding: 0;
}

#search{
    width: 100%;
}

.contact-details-nav{
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0;
}

.left-side-nav{
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 35px;
}

.left-side-nav img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.right-side-nav{
   margin-left: 20px;
}

.right-side-nav span{
    font-size: 20px;
}

.messages ::after{
    clear: both;
}

#status{
    margin: 0;
    margin-top: 7px;
}

.dropdown{
    color: #00A3FF;
    background-color: black;
    outline: none;
    border: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-size: x-large;
}

.profile{
    color: #00A3FF;
    margin: 10px;
    padding: 0px 20px;
    display: flex;
}

.profile h2{
    text-align: center;
}

.profile img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profile-img{
    margin-top: 10px;
}

.profile-details{
    margin-left: 20px;
}
